@{
    ViewBag.Title = "AllUsers";
}


<!DOCTYPE html>
<html>

<head>
    <title>
        All users
    </title>
</head>

<body>
    <h3>Все пользователи</h3>

    <br />

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Имя</td>
                <td>E-mail</td>
                <td>Пароль</td>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var user in ViewBag.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.Password</td>
                    </tr>
                }
            }
        </tbody>

    </table>
</body>

</html>