
@{
    ViewBag.Title = "Registration";
}

<h2>Регистрация</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация</title>
</head>
<body>
    <div>
        <h3>Введите данные для регистрации</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                
                <tr>
                    <td><p>Введите E-mail :</p></td>
                    <td>
                        <input type="text" name="Email" />
                    </td>
                </tr>

                <tr>
                    <td><p>Введите пароль </p></td>
                    <td><input type="text" name="Password" /> </td>
                </tr>

                <tr><td><input type="submit" value="Зарегистрироваться" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>


